
@font-face {
  font-family: "iconfont";
  src: url('./iconfont.eot?t=1545815537037'); /* IE9*/
  src: url('./iconfont.eot?t=1545815537037#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?t=1545815537037') format('woff'),
  url('./iconfont.ttf?t=1545815537037') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./iconfont.svg?t=1545815537037#iconfont') format('svg'); /* iOS 4.1- */
}

/* [class^="icon-"], [class*=" icon-"]  {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adjustments:before { content: "\e600"; }

.icon-alarmclock:before { content: "\e601"; }

.icon-anchor:before { content: "\e602"; }

.icon-attachment:before { content: "\e603"; }

.icon-aperture:before { content: "\e604"; }

.icon-desktop:before { content: "\e605"; }

.icon-document:before { content: "\e607"; }

.icon-bargraph:before { content: "\e608"; }

.icon-basket:before { content: "\e609"; }

.icon-beaker:before { content: "\e60a"; }

.icon-briefcase:before { content: "\e60e"; }

.icon-browser:before { content: "\e60f"; }

.icon-calendar:before { content: "\e610"; }

.icon-camera:before { content: "\e611"; }

.icon-caution:before { content: "\e612"; }

.icon-chat:before { content: "\e613"; }

.icon-circlecompass:before { content: "\e614"; }

.icon-clipboard:before { content: "\e615"; }

.icon-clock:before { content: "\e616"; }

.icon-cloud:before { content: "\e617"; }

.icon-compass:before { content: "\e618"; }

.icon-facebook:before { content: "\e619"; }

.icon-flag:before { content: "\e61a"; }

.icon-focus:before { content: "\e61b"; }

.icon-genius:before { content: "\e61d"; }

.icon-gift:before { content: "\e61e"; }

.icon-documents:before { content: "\e61f"; }

.icon-download:before { content: "\e620"; }

.icon-dribbble:before { content: "\e621"; }

.icon-edit:before { content: "\e622"; }

.icon-expand:before { content: "\e624"; }

.icon-linegraph:before { content: "\e625"; }

.icon-linkedin:before { content: "\e626"; }

.icon-lock:before { content: "\e627"; }

.icon-magnifyingglass:before { content: "\e628"; }

.icon-map:before { content: "\e629"; }

.icon-mappin:before { content: "\e62a"; }

.icon-global:before { content: "\e62b"; }

.icon-globe:before { content: "\e62c"; }

.icon-grid:before { content: "\e62e"; }

.icon-happy:before { content: "\e62f"; }

.icon-hazardous:before { content: "\e630"; }

.icon-heart:before { content: "\e631"; }

.icon-hotairballoon:before { content: "\e632"; }

.icon-hourglass:before { content: "\e633"; }

.icon-key:before { content: "\e634"; }

.icon-layers:before { content: "\e636"; }

.icon-lifesaver:before { content: "\e637"; }

.icon-lightbulb:before { content: "\e638"; }

.icon-pricetags:before { content: "\e639"; }

.icon-printer:before { content: "\e63a"; }

.icon-profilefemale:before { content: "\e63b"; }

.icon-profilemale:before { content: "\e63c"; }

.icon-puzzle:before { content: "\e63d"; }

.icon-quote:before { content: "\e63e"; }

.icon-recycle:before { content: "\e63f"; }

.icon-megaphone:before { content: "\e640"; }

.icon-mic:before { content: "\e641"; }

.icon-mobile:before { content: "\e642"; }

.icon-newspaper:before { content: "\e643"; }

.icon-notebook:before { content: "\e644"; }

.icon-paintbrush:before { content: "\e645"; }

.icon-paperclip:before { content: "\e646"; }

.icon-pencil:before { content: "\e647"; }

.icon-phone:before { content: "\e648"; }

.icon-picture:before { content: "\e649"; }

.icon-pictures:before { content: "\e64a"; }

.icon-piechart:before { content: "\e64b"; }

.icon-presentation:before { content: "\e64c"; }

.icon-trophy:before { content: "\e64d"; }

.icon-tumblr:before { content: "\e64e"; }

.icon-refresh:before { content: "\e650"; }

.icon-ribbon:before { content: "\e651"; }

.icon-scissors:before { content: "\e654"; }

.icon-scope:before { content: "\e655"; }

.icon-search:before { content: "\e656"; }

.icon-speedometer:before { content: "\e658"; }

.icon-target:before { content: "\e65c"; }

.icon-telescope:before { content: "\e65d"; }

.icon-toolbox:before { content: "\e65e"; }

.icon-tools:before { content: "\e65f"; }

.icon-tools2:before { content: "\e660"; }

.icon-video:before { content: "\e661"; }

.icon-wallet:before { content: "\e662"; }

.icon-wine:before { content: "\e663"; }

.icon-upload:before { content: "\e664"; }

